body{
    background-color: #D6D6D6;
    margin: 0%;
    padding: 0%;
}
.RegistrationDiv {
   width: 40%;
   margin: auto;
   box-shadow: 0 4px 80px  rgba(0, 0, 0, 0.2), 0 6px 20px  rgba(0, 0, 0, 0.19);
   margin-top: 80px;
   height: 450px;
   display: inline-block;
   margin-left: 30px;
   clear: right;
}
input{
    padding: 2px;
    border: 0px;
    border-bottom: 1px solid #C0C0C0;
    color: #000000;
    border-radius: 3pt;
    height: 25px;
    width: 250px;
    background-color: #D6D6D6;
    margin-top: 15px;
    margin-left: 200px;
    position: relative;
}
button {
    height: 25pt;
    width: 200px;
    border-radius: 3pt;
    margin: 10px;
    margin-top: 25px;
    background-color: #2982FE;
    border: 1px solid #2E8BC0;
}
.header{
    text-align: left;
    padding: 5px 5px 0px;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 25px; 
    position: sticky;
    top: 0;
    background-color: #D6D6D6;
}
.PageHeader{
    width: 100%;
    height: 80px;
    background-color: blue;
    text-align: justify;
    font-weight: bolder;
    font-size: 25px;
    margin: auto;
    position: relative;
    box-shadow: 0 4px 80px  rgba(0, 0, 0, 0.2), 0 6px 20px  rgba(0, 0, 0, 0.19);
}
h2{
    line-height: 0;
    position: absolute;
    top: 50%; 
    left: 0;
    margin: 0;
    padding: 0;
}
table{
    width: 90%;
    margin: auto;
    margin-top: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.data{
    width: 45%;
    overflow-y: scroll;
    display: inline-block;
    float: right;
    margin-right: 30px;
}

.ErrorTip {
    position: relative;
  }
  
  .ErrorTip .ErrorText {
    visibility: hidden;
    width: 220px;
    background-color: #FF0000;
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 88%;
  }
  
  .ErrorTip .ErrorText::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #FF0000 transparent transparent;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
    width: 15px;
    text-align: center;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    left: -260px;
    top: 100%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  label
  {
    text-align: left;
    width: 200px;
    margin-left: 50px;
    top: 25px;
    position: absolute;
  }
  #Submit{
    margin-left: 48px;
  }