.card{
    width: 500px;
    margin: auto;
    margin-top: 5%;
}
.card-header{
    font-weight: bolder;
}
.form-group{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.card-footer{
    margin-top: 30px;
    padding: 10px;
    overflow: auto;
}
button{
    margin-left:10px;
    width: 100px;
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
small{
    color: red;
}
.toolTip {
    position: relative;
    display: inline-block;
    background-color: #000000 !important;
    border-radius: 50%;
    color: #fff;
    width: 20px;
    height: 25px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    padding: 3px;
  }
  
  .toolTip .tooltipText {
    visibility: hidden;
    width: 260px;
    background-color: black;
    color: rgb(253, 253, 253);
    text-align: left;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    font-weight: lighter;
    z-index: 1;
    left: -260px;
    top: 100%;
  }
  
  .toolTip:hover .tooltipText {
    visibility: visible;
  }
  