<div class="card" >
    <div class="card-header">
    Registation
    </div>
    <form name = "Registartion" #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="Name" class="col-sm-4 col-form-label col-form-label-sm">Name</label>
            <div class="col-sm-7">
              <input type="text" #name="ngModel" required pattern="^[a-zA-Z ]+[,\.'\-]?[a-zA-Z ]+$" (blur)="onBlurEvent($event)" class="form-control form-control-sm" id="Name" name="Name" placeholder="Enter your name" autocomplete="off" [(ngModel)]="userModel.Name">
              <div *ngIf="name.errors && (name.invalid && name.touched)">
                <small *ngIf="name.errors.required">Name is required</small>
                <small *ngIf="name.errors.pattern">Invalid name</small>
              </div>
            </div>
            <div class = "toolTip"> i
              <span class = "tooltipText"> * Contains only alphabets
              <br> * can contain ( ',-) </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="Dob" class="col-sm-4 col-form-label col-form-label-sm">Date of Birth</label>
            <div class="col-sm-7">
              <input type="date"  #dob="ngModel" required (blur)="onBlurEvent($event)" class="form-control form-control-sm" id="Dob" name="Dob" placeholder="Enter your DoB" autocomplete="off" [(ngModel)]="userModel.Dob">
                <small [class.d-none]="dob.valid || dob.untouched">Dob is required</small>
            </div>
            <div class="toolTip">i
              <span class = "tooltipText"> * Date should be in mm/dd/yyyy 
              </span>
            </div>
        </div>
        <div class="form-group row">
          <label for="Email"  class="col-sm-4 col-form-label col-form-label-sm">Email Id</label>
          <div class="col-sm-7">
            <input type="text" #email="ngModel" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" (blur)="onBlurEvent($event)" class="form-control form-control-sm" id="Email" name="Email" placeholder="Enter your email id" autocomplete="off" [(ngModel)]="userModel.Email">
            <small id="EmailErr"></small>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small *ngIf="email.errors.required">Email is required</small>
              <small *ngIf="email.errors.pattern">Invalid email</small>
            </div>
          </div>
          <div class="toolTip">i
            <span class = "tooltipText"> * Must be a valid email address <br>
                * Start with alphabet only <br>
                * Should contain one '@' symbol and one dot(.)  </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="Phone" class="col-sm-4 col-form-label col-form-label-sm">Phone Number</label>
          <div class="col-sm-7">
            <input type="text" #phone="ngModel" required pattern="^[0-9]{10}$" (blur)="onBlurEvent($event)" class="form-control form-control-sm" id="Phone" name="Phone" placeholder="Enter your phone number" autocomplete="off" [(ngModel)]="userModel.Phone">
            <small id="PhoneErr"></small>
            <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
              <small *ngIf="phone.errors.required">phone is required</small>
              <small *ngIf="phone.errors.pattern">Invalid phone</small>
            </div>
          </div>
          <div class = "toolTip">i
            <span class = "tooltipText"> * Contains numbers only <br>
                * No special character and symbols are allowed<br>
                * Must contains 10 digits
              </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="Password" class="col-sm-4 col-form-label col-form-label-sm">Password</label>
          <div class="col-sm-7">
            <input type="password" #pass="ngModel" required pattern="^(?=.*[0-9])(?=.*[&*$#%@!^~\s])[a-zA-Z0-9&*$#%@!^~ ]{8,}$" (blur)="onBlurEvent($event)" class="form-control form-control-sm" id="Password" name="Password" placeholder="Enter your password" [(ngModel)]="userModel.Password">
            <div *ngIf="pass.errors && (pass.invalid && pass.touched)">
              <small *ngIf="pass.errors.required">Password is required</small>
              <small *ngIf="pass.errors.pattern">Invalid password</small>
            </div>
          </div>
          <div class="toolTip">i
            <span class = "tooltipText"> * Password should be minimun 8 character long<br>
                * Password must contain one numeric digit<br>
                * Must conatain one special character from any of these
                '&','*','$','#','%','@',"!", "^", "~" </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="ConPass" class="col-sm-4 col-form-label col-form-label-sm">Confirm Password</label>
          <div class="col-sm-7">
            <input type="password" (blur)="onBlurEvent($event)" class="form-control form-control-sm" id="ConPass" name="ConPass" placeholder="Confirm your password" [(ngModel)]="userModel.ConPass">
          </div>
          <div class = "toolTip">i
            <span class = "tooltipText"> * Same as Password </span>
          </div>
        </div>
        <div class="card-footer">
            <button type="button" id="Clear" (click)="back()"  class="btn btn-danger Cancel float-right">Cancel</button>
            <button type="submit"  id="Submit" class="btn btn-primary Submit float-right">Submit</button>
        </div>
      </form>
</div>
