<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="">
      <img src='./assets/Image/bootstrap-4.svg' width="30" height="30" alt=""> LogIn Page
      <a *ngIf="!check()" class="btn left" [routerLink]="['Welcome']">Dashboard</a>
    </a>
     
    <div *ngIf="check()">
      <a class="btn btn-primary float-right" [routerLink]="['Register']">Register</a>
      <a class="btn btn-primary float-right" [routerLink]="['Login']">Log in</a>
    </div>
    <div *ngIf="!check()">
      <a class="btn btn-danger float-right" (click)="LogOut()">Logout</a>
    </div>
    
    
</nav>