.navbar {
    border-bottom: 1px solid #d6d6d6;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
div a{
    margin-left: 5px;
}
.left{
    margin-left: 50px;
    font-size: 15px;
    padding: 5px;
    background-color: #D6D6D6;
}
.left:hover{
    background-color: blue;
    font-weight: bolder;
}