
    <div class="card" >
        <div class="card-header">
        Log In
        </div>
        <form name="LogInForm" #FormData ="ngForm" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-group">
                <label for="EmailId">Email Id</label>
                <input type="text" (blur)="checkEmail(email.value)" required #email="ngModel" [class.is-invalid]="hasEmailError || (email.invalid && email.touched)" class="form-control" id="EmailId" name="Email" placeholder="Enter your Email Id" autocomplete="off" ngModel>
            
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" (blur)="checkPass(pass.value)" #pass="ngModel" [class.is-invalid]="hasPassError || (pass.invalid && pass.touched)" class="form-control" name="Password" id="Password" placeholder="Enetr your password" ngModel>
            </div>
            <div class="card-footer">
                <small id="LoginErr"></small>
                <button type="button" (click)="back()" class="btn btn-danger float-right">Cancel</button>
                <button type="Submit" class="btn btn-primary float-right">Log In</button>
            </div>
        </form>
    </div>
