.card{
    width: 450px;
    margin: auto;
    margin-top: 5%;
}
.card-header{
    font-weight: bolder;
}

.form-group{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.card-footer{
    margin-top: 30px;
    padding: 10px;
    overflow: auto;
}
button{
    margin-left:10px;
    width: 100px;
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
small{
    color: red;
}